<footer class="footer-container" role="contentinfo">
  <!-- Below is the outer div for the top banner portion of the footer (green background with icons). -->
  <div class="footer-top-banner">
    <!-- Below div is for each of the 4 "elements."  All should have the same div as that is needed to align these items on the page. -->
    <div class="footer-banner-wrapper" id="block-contact-us">
      <div class="contact-us">
        <a href="mailto:cass-steering-committee@email.ornl.gov">Contact Us</a>
      </div>
    </div>
    <!-- Below is the div for DOE icon and link. -->
    <div class="footer-banner-wrapper" id="block-DOE">
      <div class="field-element">
        <article aria-label="footer-logo-DOE-OOS.png">
          <a href="https://www.energy.gov/science/">
            <img src="{{ 'assets/images/footer-logo-DOE-OOS_0.png' | relative_url }}" width="252" height="44" alt="DOE Icon" typeof="foaf:Image" />
          </a>
        </article>
      </div>
    </div>
    <!-- Closing the footer-top-banner div. -->
  </div>
</footer>
