---
layout: compress
---

<!DOCTYPE html>
<html lang="en">
  <head>
    {% include head.html %}
  </head>

  <body class="static-text">
    {% include header.html %}

    <header style="background: linear-gradient(90deg, #005A5B 0%, #2C5364 50%, #0F2027 100%);" id="banner-container">
      <div id="banner-img"></div>
      <h1 class="banner-text">{{ site.name }}</h1>
    </header>

    <!-- prettier-ignore -->
    <main id="content" class="container">{{ content }}</main>
    <!-- prettier-ignore -->
    {% include footer.html %}
    <!-- prettier-ignore -->
    {% include scripts.html %}
  </body>
</html>
